{% load static  i18n %} 
<section class="about-low-area mt-30">
    <div class="container">
        <div class="about-cap-wrapper">
            <div class="row">
                <div class="col-xl-5  col-lg-6 col-md-10 offset-xl-1">
                    <div class="about-caption mb-50">
                        <!-- Section Tittle -->
                        <div class="section-tittle mb-35">
                            <h2>{% trans "100% de satisfaction garantie." %}</h2>
                        </div>
                        <p>{% trans "Nous visons le meilleur pour nos employés." %}</p>
                        <a href="/contact" class="border-btn">{% trans "Prendre rendez-vous" %}</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- about-img -->
                    <div class="about-img">
                        <div class="about-font-img">
                            <img src="{% static 'img/gallery/about2.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>