{% load static  i18n  %}
<section class="home-blog-area section-padding30">
    <div class="container">
        <!-- Section Tittle -->
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-9 col-sm-10">
                <div class="section-tittle text-center mb-100">
                    <h2>{% trans "Catégories d'emplois" %}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="home-blog-single mb-40">
                    <div class="blog-img-cap">
                        <div class="blog-img">
                            <img src="{% static 'img/gallery/team5.jpg' %}" alt="">
                        </div>
                        <div class="blog-cap">
                            <h3><a href="/blog_details">{% trans "Infirmier(ère)" %}</a></h3>
                            <P>{% trans "En tant qu'infirmière, travaillez dans des conditions favorables en nous rejoignant." %} </P>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="home-blog-single mb-40">
                    <div class="blog-img-cap">
                        <div class="blog-img" style="height: 5%;">
                            <img src="{% static 'img/gallery/midwife.jpg' %}" alt="">
                        </div>
                        <div class="blog-cap">
                            <h3><a href="/blog_details">{% trans "Infirmiere Auxiliaires" %}</a></h3>
                            <P>{% trans "Travailler dans des hôpitaux qui ont une grande valeur pour les employés" %}</P>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="home-blog-single mb-40">
                    <div class="blog-img-cap">
                        <div class="blog-img">
                            <img src="{% static 'img/gallery/video-bg.png' %}" alt="">
                        </div>
                        <div class="blog-cap">
                            <h3><a href="/blog_details">{% trans "Preposee aux beneficiares"%}</a></h3>
                            <P> {% trans "Nous recrutons également des Preposee aux beneficiares." %}</P>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="home-blog-single mb-40">
                    <div class="blog-img-cap">
                        <div class="blog-img">
                            <img src="{% static 'img/gallery/team1.png' %}" alt="">
                        </div>
                        <div class="blog-cap">
                            <h3><a href="/blog_details">{% trans "Inhalothérapeute" %}</a></h3>
                            <P>{% trans "Obtenez la satisfaction au travail tout en travaillant avec nous en tant que Inhalothérapeute" %} </P>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6">
                <div class="home-blog-single mb-40">
                    <div class="blog-img-cap">
                        <div class="blog-img">
                            <img src="{% static 'img/gallery/team3.png' %}" alt="">
                        </div>
                        <div class="blog-cap">
                            <h3><a href="/blog_details">{% trans "Preposee aux beneficiares"%}</a></h3>
                            <P> {% trans "Nous recrutons également des Preposee aux beneficiares."%}</P>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="home-blog-single mb-40">
                    <div class="blog-img-cap">
                        <div class="blog-img">
                            <img  src="{% static 'img/gallery/team2.png' %}" alt="">
                        </div>
                        <div class="blog-cap">
                            <h3><a href="/blog_details">{% trans "Aides de services" %}</a></h3>
                            <P>{% trans "En tant qu'aide de service, vous travailleriez avec l'un de nos partenaires qui ont tous une excellente réputation pour gérer les employés." %}</P>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>