{% extends "base_layout.html" %}
{% load static  i18n  %}

{% block content %}
 
<!-- Specific category goes here-->

<section class="home-blog-area section-padding30">
    <div class="container">
        <div class="row">
            {% for job in categoryJobs %}

            <div class="col-lg-4 col-md-6">
                <div class="home-blog-single mb-40">
                    <div class="blog-img-cap">
                        <div class="blog-cap">
                            <h2><a href="/blog_details">{{job.title}}</a></h2>
                            <P><span> {% trans "delais : " %} </span>{{job.deadline}}</p>
                            <p>{{job.location}}</p>
                            <p>{{  job.description  }}</p>

                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
    </div>
</section>

<!-- Specific category ends-->

<hr/>
<section class="home-blog-area section-padding30">
    <div class="container">
        <div class="row">
            {% for other in otherJobs %}

            <div class="col-lg-4 col-md-6">
                <div class="home-blog-single mb-40">
                    <div class="blog-img-cap">
                        <div class="blog-cap">
                            <h2><a href="/blog_details">{{other.title}}</a></h2>
                            <P><span> {% trans "delais : " %} </span>{{other.deadline}}</p>
                            <p>{{other.location}}</p>
                            <p>{{  other.description  }}</p>

                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
    </div>
</section>

{% endblock %}